*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin: 0 32px;
}
